# IDE specific files
*.iml
.idea/

# Secrets
.access_token.txt

# CSV data
insta_insights.csv

# HTML
index.html
style.css

build/
dist/
instagram_insights.egg-info/


*.png

.coverage
htmlcov/
coverage.xml
